* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lobster", cursive;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(51, 29, 77);
    background: linear-gradient(90deg, rgba(51, 29, 77, 1) 0%, rgba(41, 12, 74, 1) 84%, rgba(17, 1, 34, 1) 100%);
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 10, 5, 0.8), rgba(90, 40, 90, 0.273)), url(../assets/img/bg-image.jpg);
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
}

.container-royal {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 10, 5, 0.8), rgba(90, 40, 90, 0.273)),
        url(../assets/img/bg-image-royal.jpg);
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
}

.container-galeria {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 10, 5, 0.8), rgba(90, 40, 90, 0.273)),
        url(../assets/img//bg-image-galeria.png);
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
}

.container-confidente {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 10, 5, 0.8), rgba(90, 40, 90, 0.273)),
        url(../assets/img/bg-image-confidenes.jpg);
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
}

.navbar {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sin-sub {
    text-decoration: none;
}

.logo {
    width: 80px;
    cursor: pointer;
}

.giro {
    transition-duration: 0.9s;
}
.giro:hover {
    transform: rotate3d(0.8, 1, 0, 180deg);
    transition-timing-function: ease-in-out;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(138, 10, 10);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar ul li:hover::before {
    width: 100%;
}

.caja-flex {
    display: flex;
    flex-direction: row;
}

.titulo {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.parrafos {
    margin-right: 2rem;
    margin-left: 2rem;
}

.texto-foto {
    display: flex;
    justify-content: space-around;
}

.personajes-texto {
    margin-top: 2rem;
}

/*Css Galeria*/
.galeria h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.linea {
    border-top: 5px solid #8dcff800;
    margin-bottom: 40px;
}

.contenedor-imagenes {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .imagen {
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(33, 37, 40, 0.293);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
}

.overlay h2 {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay {
    height: 100%;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .contenedor-imagenes {
        width: 95%;
    }
}

@media screen and (max-width: 700px) {
    .contenedor-imagenes {
        width: 90%;
    }
    .contenedor-imagenes .imagen {
        width: 48%;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 22px;
    }
    .contenedor-imagenes {
        width: 98%;
    }
    .contenedor-imagenes .imagen {
        width: 80%;
    }
}

/*Footer*/
.footer {
    margin-top: auto;
}

.pie-pagina {
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}
.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}
.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small {
    font-size: 15px;
}
@media screen and (max-width: 800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

/*tabla confidentes*/
table {
    font-size: 18px;
    margin: 45px;
    width: 1280px;
    text-align: left;
    border-collapse: collapse;
}

th {
    font-size: 18px;
    font-weight: normal;
    padding: 8px;
    background: #de2d2de9;
    border-bottom: 1px solid #fff;
    color: rgb(248, 248, 248);
}

td {
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}

tr:hover td {
    background: #d0dafd;
    color: #339;
}

.centrado-tabla {
    display: flex;
    justify-content: center;
}
